<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <%- include('../partials/header') %> 
        <div >
            <% if (errors.length > 0 ) { %>
                <%= errors %> 
               <% } %>
               <% if (success.length > 0 ) { %>
                <%= success %> 
               <% } %>
        </div>

        <div id="container" class="fluid">
            <main role="main">
             
              <div class="container">
                <div class="row">
                      <% fav.favorite.forEach(game => { %>
                          <div class="col-md-4" style="width:20rem;">
                              <div class="card">
                              <img id = 'img' src="<%= game.image %> " alt="..." class="card-img-top"/>
                              <div class="card-body">
                                  <a id = 'name' href="/game/<%= game._id %>"> <%= game.title %> </a>
                                </div>
                    </div>
                  </div>
                  <% }) %>

                </div>
              </div>
            </main>
          </div>




















        <script src="" async defer></script>
    </body>
</html>